<app-nav></app-nav>
<div style="text-align: right;"><a href="/quizzes" class="btn btn-info" style="margin: 1vh; color: white;">All Quizzes</a></div>
<div class="loader" *ngIf({{!this.backendService.questions.length}})></div>
<div class="card">
    <h4 class="card-header quiz-font">Question {{activeQuestionIndex + 1}}</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-info  progress-bar-animated" role="progressbar" [ngStyle]="progressBar()" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="card-body">
      <h4 class="card-title quiz-font">{{this.backendService.questions[activeQuestionIndex].question}}</h4>
      <div><img src="{{this.backendService.questions[activeQuestionIndex].img}}"></div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-top: 2vh;">
          <label [ngClass]="{'btn btn-secondary' : true, 'active' : userAnswer==='A'}" class="quiz-font">
            <input (click)="selectAnswer('A')" type="radio" name="options" id="option1" autocomplete="off"> {{this.backendService.questions[activeQuestionIndex].A}}
          </label>
          <label [ngClass]="{'btn btn-secondary' : true, 'active' : userAnswer==='B'}" class="quiz-font">
            <input (click)="selectAnswer('B')" type="radio" name="options" id="option2" autocomplete="off"> {{this.backendService.questions[activeQuestionIndex].B}}
          </label>
          <label [ngClass]="{'btn btn-secondary' : true, 'active' : userAnswer==='C'}" class="quiz-font">
            <input (click)="selectAnswer('C')" type="radio" name="options" id="option3" autocomplete="off"> {{this.backendService.questions[activeQuestionIndex].C}}
          </label>
          <label [ngClass]="{'btn btn-secondary' : true, 'active' : userAnswer==='D'}" class="quiz-font">
            <input (click)="selectAnswer('D')" type="radio" name="options" id="option4" autocomplete="off"> {{this.backendService.questions[activeQuestionIndex].D}}
          </label>
          <button class="btn btn-info quiz-font" (click)="onSubmit(userAnswer)">Submit</button>
        </div>
    </div>
  </div>
  <div class="alert alert-success container modal-fade" style="max-width: 400px; margin-top: 2vh;" role="alert" *ngIf="isQuizFinished">
      <h4 class="alert-heading">Well done!</h4>
      <p>Thank you for taking the quiz!</p>
      <hr>
      <button (click)="closeAlert()" class="btn btn-info">Close</button>
  </div>


