<div style="margin: 10vh;" class="instructor-display">
  <table class="table table-hover" style="border: 1px solid lightgray">
      <thead>
        <tr>
          <th scope="col" style="color:rgb(19, 132, 150);" class="instructor-font">Name</th>
          <th scope="col" style="color:rgb(19, 132, 150);" class="instructor-font">Email</th>
        </tr>
      </thead>
      <tbody *ngFor="let instructor of getInstructors()">
        <tr>
          <td class="instructor-font">{{instructor.instructorName}}</td>
          <a href="mailto:{{instructor.instructorEmail}}"><td style="color: black;" class="instructor-font">{{instructor.instructorEmail}}</td></a>
        </tr>
      </tbody>
    </table>
</div>



