<div style="padding: 4vh">
  <div class="row">
      <div class="col">
        <img
          src="https://www.access2print.co.uk/wpimages/wp4d67944d_06.png"
          alt="braille alphabet">
          <h6 style="padding-bottom: 2vh;"><em>The braille alphabet</em></h6>
      </div>
      <div class="col">
          <p><strong>Louis Braille (1809 - 1852)</strong> was born in a town just outside of Paris, France. Louis became blind at 3 years old due to an accident while working with his dad in his workshop.</p>
          <p>Louis received a scholarship to a school called the Royal Institute for Blind Youth in Paris at the age of 10. While attending the school, Louis and his peers met a former soldier named Charles Barbier. Barbier spoke to his invention of "night writing" - a form of literacy that consisted of a raised 12-dot system. Soldiers utilized this form of communication for sharing top secret information without having to verbalize the information.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
          <p>By age 15, Louis modified Barbier's raised 12-dot system into a raised 6-dot system. By 1829, he published his first braille book, followed by adding braille symbols to denote math and music in 1837. Braille gained its popularity worldwide by 1868, after Louis' passing.</p>
          <p>Students who are blind are taught braille literacy by Teachers of the Visually Impaired (TVI). In addition to teaching braille (compensatory skills), TVIs are responsible for teaching social skills, recreation and leisure skills, self-determination skills, assistive technology skills, career education, sensory efficiency skills, and independent living skills.</p>
      </div>
      <div class="col">
        <img
          src="http://cdn.minval.az/2017/02/Dot-SmartWatch.png"
          alt="braille smart watch">
          <h6 style="padding-top: 2vh; padding-bottom: 2vh; text-align: right;"><em>Braille smartwatch</em></h6>
      </div>

      <div class="row">
        <div class="col">
            <img
            style="max-height: 350px"
            alt="braillenote"
            src="https://store.humanware.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/b/r/braillenote_touch_angle-google1.jpg">
            <h6><em>BrailleNote Touch</em></h6>
        </div>
      </div>
      <div class="col">
        <p>Technology is a critical for providing access for those individuals who are blind or visually impaired. Since the technology that incorporates access to braille is cutting edge, it is imperative to continue promoting braille literacy in our schools.</p>

          <div style="float: right">
            <img
            style="max-width: 600px;"
            alt="refreshable braille display"
            src="http://www.flying-blind.com/images/238.jpg">
            <h6 style="text-align: right;"><em>Refreshable braille display</em></h6>
          </div>
      </div>
    </div>
</div>

