<div class="row" style="margin: 5vh;">
  <div class="col">
    <div class="card" style="width: 18rem;">
        <i class="fas fa-book-open" style="text-align: center; font-size: 5rem; padding-top: 2vh;"></i>
        <div class="card-body">
          <h5 class="card-title">Quizzes</h5>
          <p class="card-text">WonderBraille provides immediate access to all quizzes related to each course, while monitoring student progress.</p>
          <a href="/quizzes" class="btn btn-info">Quizzes</a>
        </div>
      </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
        <i class="fas fa-blind" style="text-align: center; font-size: 5rem; padding-top: 2vh;"></i>
        <div class="card-body">
          <h5 class="card-title">Resources</h5>
          <p class="card-text">WonderBraille provides the latest and most valuable resources to keep your braille knowledge and skills sharp. </p>
          <a href="/resources" class="btn btn-info">Explore</a>
        </div>
      </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
        <i class="fas fa-chalkboard-teacher" style="text-align: center; font-size: 5rem; padding-top: 2vh;"></i>
        <div class="card-body">
          <h5 class="card-title">Instructors</h5>
          <p class="card-text">WonderBraille makes it easy to keep up-to-date with your instructors. Stay in touch with your instructors here.</p>
          <a href="/instructors" class="btn btn-info">Communicate</a>
        </div>
      </div>
  </div>
</div>


