<app-nav></app-nav>
<a href="/" class="btn btn-info" style="float: right; margin-top: 2vh; margin-right: 2vh; color: white;">Logout</a>
<div class="row" style="margin: 20vh;">
  <div class="col">
    <div class="card" style="width: 18rem; box-shadow: 5px 5px lightgray;">
        <i class="fas fa-book-open" style="text-align: center; font-size: 5rem; padding-top: 2vh;"></i>
        <div class="card-body">
          <h5 class="card-title dash-font">Quizzes</h5>
          <p class="card-text dash-font">WonderBraille provides access to all quizzes related to each course, while monitoring student progress.</p>
          <a href="/quizzes" class="btn btn-info dash-font">Quizzes</a>
        </div>
      </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem; box-shadow: 5px 5px lightgray;">
        <i class="fas fa-blind" style="text-align: center; font-size: 5rem; padding-top: 2vh;"></i>
        <div class="card-body">
          <h5 class="card-title dash-font">Resources</h5>
          <p class="card-text dash-font">WonderBraille provides the latest and most valuable resources to keep your braille knowledge and skills sharp. </p>
          <a href="/resources" class="btn btn-info dash-font">Explore</a>
        </div>
      </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem; box-shadow: 5px 5px lightgray;">
        <i class="fas fa-chalkboard-teacher" style="text-align: center; font-size: 5rem; padding-top: 2vh;"></i>
        <div class="card-body">
          <h5 class="card-title dash-font">Instructors</h5>
          <p class="card-text dash-font">WonderBraille makes it easy to keep up-to-date with your instructors. Stay in touch with your instructors here.</p>
          <a href="/instructors" class="btn btn-info dash-font">Communicate</a>
        </div>
      </div>
  </div>
</div>


