<nav class="navbar navbar-light" style="background-color:black;">
    <a href="/"><span class="navbar-brand mb-0 h1 landing-dash" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">WonderBraille</span></a>
</nav>

<div class="jumbotron jumbotron-fluid" style="background-color: rgb(19, 132, 150);">
  <div class="container">
    <h1 class="display-4" style="color:white;">Welcome to WonderBraille</h1>
    <p class="lead" style="color:white;">Where learning braille is made easy, fun, and interactive!</p>
  </div>
</div>

<div class="container">
  <h4 class="landing-content" style="text-align: center; padding-bottom: 3vh;">DID YOU KNOW?</h4>
  <div class="row">
    <div class="col">
      <div class="braille-readers landing-content"><i class="fas fa-braille braille"></i> 8.5% of students are identified as braille readers</div>
      <div class="pre-readers landing-content"><i class="fas fa-child pre"></i> 18.3% of students are pre-readers</div>
      <!-- <div class="cane-img landing-content"><i class="fas fa-blind cane"></i> 70% of adults who are blind are unemployed</div> -->
    </div>

    <div class="col">
      <div class="non-readers landing-content"><i class="fas fa-book-reader book"></i> 34.8% of students are identified as non-readers</div>
      <div class="aud-readers landing-content"><i class="fas fa-volume-up aud"></i> 9.2% of students are defined as auditory readers</div>
      <!-- <div class="cane-img landing-content"><i class="fas fa-blind cane"></i> 50% of high school students who are blind dropout before graduation</div> -->
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
