<nav class="navbar navbar-light" style="background-color:black;">
    <a href="/"><span class="navbar-brand mb-0 h1 landing-dash" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">WonderBraille</span></a>
</nav>

<div class="jumbotron jumbotron-fluid" style="background-color: rgb(19, 132, 150);">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-5" style="color:white;">Welcome to WonderBraille</h1>
        <p class="lead" style="color:white;">Where learning braille is made easy, fun, and interactive!</p>
      </div>
      <div class="col">
        <h4 style="padding-bottom: 2vh; color: white;">Student Login</h4>
        <form (ngSubmit)="existingStuOnSubmit()" [formGroup]="existingStudent">
            <div class="form-group">
                <input type="email" class="form-control" formControlName="studentEmail" placeholder="e.g. johnsmith@gmail.com" required>
              </div>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="studentPassword" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-dark">Welcome!</button>
          </form>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-bottom: 2vh;">
  <h4 class="landing-content" style="text-align: center; padding-bottom: 3vh;">DID YOU KNOW?</h4>
  <div class="row">
    <div class="col">
      <div class="braille-readers landing-content"><i class="fas fa-braille braille"></i> 8.5% of students are identified as braille readers</div>
      <div class="pre-readers landing-content"><i class="fas fa-child pre"></i> 18.3% of students are pre-readers</div>
    </div>

    <div class="col">
      <div class="non-readers landing-content"><i class="fas fa-book-reader book"></i> 34.8% of students are identified as non-readers</div>
      <div class="aud-readers landing-content"><i class="fas fa-volume-up aud"></i> 9.2% of students are defined as auditory readers</div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="display-5" style="color: rgb(19, 132, 150);">New to WonderBraille?</h2>
          <h6 class="lead">Enroll here to become a WonderBraille Student!</h6>
        </div>
        <div class="col">
          <h4 style="padding-bottom: 2vh; color: rgb(19, 132, 150);">Register as a WonderBraille Student</h4>
          <form (ngSubmit)="newStuOnSubmit()" [formGroup]="newStudent">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="studentName" placeholder="Full Name" required>
              </div>
              <div class="form-group">
                  <input type="email" class="form-control" formControlName="studentEmail" placeholder="e.g. johnsmith@gmail.com" required>
                </div>
              <div class="form-group">
                <input type="password" class="form-control" formControlName="studentPassword" placeholder="Password" required>
              </div>
              <button type="submit" class="btn btn-info">Register me!</button>
            </form>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-light fixed-bottom" style="background-color:black;">
      <a href="/"><span class="navbar-brand mb-0 h1 landing-dash" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">WonderBraille</span></a>
  </nav>
