.landing-dash{
  color: white;
}

.landing-dash:hover{
  color: rgb(203, 212, 219);
}

.landing-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.non-readers, .braille-readers, .aud-readers, .pre-readers, .cane-img{
  font-size: 20px;
  padding-bottom: 2vh;
}

.non-readers, .aud-readers{
  text-align: right;
}

.register-msg {
  animation: fadein 3.5s;
  -moz-animation: fadein 3.5s; /* Firefox */
  -webkit-animation: fadein 3.5s; /* Safari and Chrome */
  -o-animation: fadein 3.5s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
